* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

header {
  box-shadow: 1px 1px 5px #000;
  width: 100%; }
  header .menu {
    padding: 0;
    list-style: none;
    text-align: center; }
  header .menu li {
    display: inline-block;
    text-align: center; }
  header .menu li a {
    padding: 8px 16px;
    color: white;
    font-family: Ysabeau SC;
    text-decoration: none;
    display: inline-block; }
  header .menu li a:hover {
    font-family: Ysabeau SC;
    background-color: rgba(0, 0, 0, 0.5);
    color: red; }

main {
  background-image: linear-gradient(to bottom, #505050, #c7c7c7); }
  main h2 {
    font-size: 2.5rem;
    font-family: Permanent Marker;
    text-align: center; }
  main p {
    font-family: Ysabeau SC; }
  main h3 {
    font-size: 1.5rem;
    font-family: Ysabeau SC;
    text-align: center; }

.contenedor0 {
  /* Index - Pagina principal */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr; }
  .contenedor0 .nosotros,
  .contenedor0 .recomienda {
    padding: 5px;
    margin: 10px; }
  .contenedor0 .imgprinc {
    width: 600px;
    height: 400px; }

.contenedor3 {
  /* Pagina Servicios */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "TITULO TITULO" "preparadopventa chaperia" "lavadofull mecanicaligera"; }
  .contenedor3 .imserv {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .contenedor3 .imserv img {
      width: 90%; }
  .contenedor3 .titulo {
    grid-area: TITULO; }
  .contenedor3 .carousel-inner img {
    display: flex;
    margin: 0 auto; }
  .contenedor3 .preparadopventa {
    grid-area: preparadopventa; }
  .contenedor3 .chaperia {
    grid-area: chaperia; }
  .contenedor3 .lavadofull {
    grid-area: lavadofull; }
  .contenedor3 .mecanicaligera {
    grid-area: mecanicaligera; }
  .contenedor3 img {
    width: 400px;
    border: 1px double gray; }
  .contenedor3 .preparadopventa,
  .contenedor3 .chaperia,
  .contenedor3 .lavadofull,
  .contenedor3 .mecanicaligera {
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #333 inset;
    margin: 10px; }

.contenedor1 {
  /* Pagina Detailing */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "TITULO TITULO" "GOL FORDK" "SPIN CHEVROLET"; }
  .contenedor1 .gol,
  .contenedor1 .chevrolet,
  .contenedor1 .spin,
  .contenedor1 .fordk {
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px #333 inset; }
  .contenedor1 .titulo {
    grid-area: TITULO; }
  .contenedor1 .gol {
    grid-area: GOL; }
  .contenedor1 .chevrolet {
    grid-area: CHEVROLET; }
  .contenedor1 .spin {
    grid-area: SPIN; }
  .contenedor1 .fordk {
    grid-area: FORDK; }
  .contenedor1 .divimg {
    display: flex;
    justify-content: center;
    align-items: center; }
    .contenedor1 .divimg img {
      width: 300px;
      border: 1px double gray; }

.tienda {
  /* Pagina productos */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "nav nav nav nav" "vertical productos productos productos" "vertical productos productos productos" "vertical productos productos productos" "vertical productos productos productos" "footer footer footer footer"; }
  .tienda .productos {
    grid-area: productos;
    padding: 40px;
    border: 2px double gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
    .tienda .productos img {
      width: 150px;
      border: 1px double gray; }
      .tienda .productos img:hover {
        border: 4px double black; }
    .tienda .productos .prodx {
      margin: 20px;
      padding: 20px;
      width: 200px;
      height: 200px; }
  .tienda .vertical {
    background-color: #000;
    grid-area: vertical; }
    .tienda .vertical ul {
      list-style-type: none;
      width: 400px;
      background-color: black; }
    .tienda .vertical li a {
      display: block;
      color: white;
      font-family: Ysabeau SC;
      padding: 8px 16px;
      text-decoration: none; }
    .tienda .vertical a:hover {
      font-family: Ysabeau SC;
      background-color: rgba(89, 89, 89, 0.5);
      color: red; }

.contenedor4 {
  /* Pagina Contacto */
  display: flex;
  flex-direction: row; }
  .contenedor4 .ubi,
  .contenedor4 .contact,
  .contenedor4 .suscripcion {
    width: 33%;
    padding: 5px;
    margin: 10px;
    border: solid gray 3px; }
    .contenedor4 .ubi .mapa,
    .contenedor4 .contact .mapa,
    .contenedor4 .suscripcion .mapa {
      width: 31.5vw;
      height: 450px; }
  .contenedor4 .suscripcion label,
  .contenedor4 .contact label {
    width: 200px;
    text-align: center; }

footer {
  background-color: black;
  color: gray;
  grid-area: footer; }
  footer li {
    display: inline-block;
    padding: 10px;
    text-decoration: none; }
  footer li img {
    width: 20px; }
  footer p {
    text-align: center;
    margin-bottom: 0px; }
  footer li a:link {
    text-decoration: none; }
  footer li a:visited {
    text-decoration: none;
    color: white; }
  footer .piepagina {
    display: flex;
    justify-content: center;
    align-items: center; }

@media only screen and (max-width: 480px) {
  .contenedor0 {
    /* Index - Pagina principal */
    display: flex;
    flex-direction: column; }
    .contenedor0 .imgprinc {
      width: 90vw;
      height: 40vh; }
  .contenedor4 {
    /* Pagina Contacto */
    display: flex;
    flex-direction: column; }
    .contenedor4 .ubi,
    .contenedor4 .contact,
    .contenedor4 .suscripcion {
      width: auto;
      padding: 5px;
      margin: 10px;
      border: solid gray 3px; }
      .contenedor4 .ubi .mapa,
      .contenedor4 .contact .mapa,
      .contenedor4 .suscripcion .mapa {
        width: 90vw;
        height: auto; }
  .contenedor1 {
    /* Pagina Detailing */
    display: flex;
    flex-direction: column;
    width: auto; }
    .contenedor1 .divimg {
      display: flex;
      flex-direction: column; }
  .contenedor3 {
    /* Pagina Servicios */
    display: flex;
    flex-direction: column;
    width: auto; }
    .contenedor3 .imserv {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .contenedor3 .imserv img {
        width: 100%; }
  .tienda {
    display: flex; }
    .tienda .productos {
      align-items: center;
      width: 100%;
      display: flex;
      flex-direction: column; }
    .tienda .prodx {
      padding-bottom: 30vh; }
  .vertical {
    display: none; } }

footer .piepagina {
  width: 100%; }
  footer .piepagina li a {
    font-size: 0; }
