@media (max-width: 480px) {
    .contenedor0 {   /* Index - Pagina principal */
        
display:flex;
flex-direction: column;
      
      .nosotros,
      .recomienda {
        padding: 5px;
        margin: 10px;
      }
      
      .imgprinc {
        width: 600px;
        height: 400px;
      }
      
      }

}