footer {
    background-color: black;
    color: gray;
    grid-area: footer;

  
   li {
    display: inline-block;
  }
  
 li img {
    width: 20px;
  }
  
 p {
    text-align: center;
  }
  
 li a:link {
    text-decoration: none;
  }
  
 li a:visited {
    text-decoration: none;
    color: white;
  }
}