main {
  background-image: linear-gradient(to bottom, rgb(80, 80, 80), rgb(199, 199, 199));

  h2 {
    font-size: 2.5rem;
    font-family: $titulos;
    text-align: center;
  }

  p {
    font-family: $parrafoymas;
  }

  h3 {
    font-size: 1.5rem;
    font-family: $parrafoymas;
    text-align: center;
  }
}

.contenedor0 {   /* Index - Pagina principal */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

.nosotros,
.recomienda {
  padding: 5px;
  margin: 10px;
}

.imgprinc {
  width: 600px;
  height: 400px;
}

}

.contenedor3 { /* Pagina Servicios */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "TITULO TITULO"
    "preparadopventa chaperia"
    "lavadofull mecanicaligera";

    .imserv {
      display: grid;
      grid-template-columns: 1fr 1fr;
    
    img {width: 90%;}
    }
    .titulo {
      grid-area: TITULO;
    }

    .carousel-inner img {
      display: flex;
      margin: 0 auto;
    }

    .preparadopventa {
      grid-area: preparadopventa;
    }
    
    .chaperia {
      grid-area: chaperia;
    }
    
    .lavadofull {
      grid-area: lavadofull;
    }
    
    .mecanicaligera {
      grid-area: mecanicaligera;
    }
img {
      width: 400px;
      border: 1px double gray;
    }

.preparadopventa,
.chaperia,
.lavadofull,
.mecanicaligera {
  padding: 20px;
  box-shadow: 0px 0px 10px 0px #333 inset;
  margin: 10px;
}

}

.contenedor1 { /* Pagina Detailing */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "TITULO TITULO"
    "GOL FORDK"
    "SPIN CHEVROLET";
    .gol,
    .chevrolet,
    .spin,
    .fordk {
      padding: 20px;
      margin: 10px;
      box-shadow: 0px 0px 10px 0px #333 inset;
    }
    .titulo {
      grid-area: TITULO;
    }
    .gol {
      grid-area: GOL;
    }
    
    .chevrolet {
      grid-area: CHEVROLET;
    }
    
    .spin {
      grid-area: SPIN;
    }
    
    .fordk {
      grid-area: FORDK;
    }

    .divimg {display:flex;
    justify-content: center;
    align-items: center;

img {
      width: 300px;
      border: 1px double gray;
    }
  }
}


.tienda { /* Pagina productos */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "nav nav nav nav"
    "vertical productos productos productos"
    "vertical productos productos productos"
    "vertical productos productos productos"
    "vertical productos productos productos"
    "footer footer footer footer";



.productos {
  grid-area: productos;
  padding: 10px;
  border: 2px double gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.prodx {
  margin: 20px;
  padding: 20px;
  width: 200px;
  height: 200px;
}

.productos img {
  width: 150px;
  border: 1px double gray;
}

.productos img:hover {
  width: 200px;
  border: 2px double gray;
}

.vertical {
  background-color: #000;
  grid-area: vertical;
}

.vertical ul {
  list-style-type: none;
  width: 400px;
  background-color: black;
}

.vertical li a {
  display: block;
  color: white;
  font-family: Ysabeau SC;
  padding: 8px 16px;
  text-decoration: none;
}

.vertical li a:hover {
  font-family: Ysabeau SC;
  background-color: rgba(89, 89, 89, 0.5);
  color: red;
}

}
.contenedor4 { /* Pagina Contacto */
  display: flex;
  flex-direction: row;

  .ubi,
  .contact,
  .suscripcion {
    width: 33%;
    padding: 5px;
    margin: 10px;
    border: solid gray 3px;
  }


  .suscripcion label,
  .contact label {
    width: 200px;
    text-align: center;
  }
 
}