@media only screen and (max-width: 480px) {

  .contenedor0 {  /* Index - Pagina principal */
    display: flex;
    flex-direction: column;

    .imgprinc {
      width: 90vw;
      height: 40vh;
    }
  
  }
  .contenedor4 { /* Pagina Contacto */
    display: flex;
    flex-direction: column;
  
    .ubi,
    .contact,
    .suscripcion {
      width: auto;
      padding: 5px;
      margin: 10px;
      border: solid gray 3px;

      .mapa {width:90vw;
        height: auto;
    }
  }
}
    .contenedor1 { /* Pagina Detailing */
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat (5, auto);
      grid-template-areas:
        "TITULO"
        "GOL"
        "FORDK"
        "CHEVROLET"
        "SPIN";

        .divimg{
          display: flex;
          flex-direction: column;
    }
  
    }
    .contenedor3 { /* Pagina Servicios */
      display: flex;
      flex-direction: column;

      .imserv {
        display: grid;
        grid-template-columns: 1fr 1fr;
      
      img {width: 100%;}
    }
    }
    footer {

.piepagina {width: 100%;
li { 
  a {font-size: 0;}
}
}
    }
  }
