@media (min-width:480px) {

  .contenedor0 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (3, auto);

    .imgprinc {
      width: 450px;
      height: 280px;
    }
  
  }
    .contenedor4 {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat (5, auto);
      grid-template-areas:
        "HEADER"
        "CONTACT"
        "SUSCRIPCION"
        "UBI"
        "FOOTER";

        .mapa {
          width: 440px;
          height: 380px;
        }
    }
  
    .contenedor1 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat (5, auto);
      grid-template-areas:
        "TITULO"
        "GOL"
        "FORDK"
        "CHEVROLET"
        "SPIN";
    }
  
  
    .contenedor3 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat (5, auto);
      grid-template-areas:
        "TITULO"
        "preparadopventa"
        "chaperia"
        "lavadofull"
        "mecanicaligera";
    }
  
    
  }    

